h1{ text-align: center;
    color: white;}
    h2{ text-align: center;
    color: white;}
    
    li{fonte-size: 30px;}
    body{margin: 20px;
    padding: 2px;
    margin-color: black}
    h3{ text-align: center;
    color: white}
    p{ text-align: center;
    font-size: 20px;
    font-family: Times new roman;
    color: white;}
    strong{text-align: center;
      color: white;}
    h4{text-align: center;
    color: white;}
    html{background-image:url( https://images8.alphacoders.com/952/952227.jpg );a
     background-repeat: no-repeat;
      background-size: cover;
      background-heigth: 100%;
       background-opacity: 0.5;
       background-attachment: fixed;
    }
    .center{ display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    border: solid;
    border-size: 10px;
    boeder-radius: 55px;
height: auto;}
    .personagens{display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      heigth: auto;
    border: solid;
    border-size: 6px;}
    .navegacao{position: fixed;
    top: 0;
    width: 100%;  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    heigth: 40%;
    background-size: cover;}
    .barra{float: left;}
    li a{display: block;
    color: white;
    text-align: center;
    padding: 6px 20px;
    text-decoration: none;
    background-size: cover;}
    .bcenter{display: flex;
      justify-content: center;
      align-items: center;
      }
      .cbotao{
        
        align-items: center;
        background-color: #ffffff00;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.85);
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
      }
        
        